mixin pagination(page, pages, count)
  .pagination
    .pagination__prev
      if page > 1
        p
         a(href=`/stores/page/${page-1}`) prev
    .pagination__text
      p page #{page} of #{pages} - #{count} total result
    .pagination__next
      if page < pages
        p
          a(href=`/stores/page/${parseFloat(page)+1}`) Next
